#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.header {
  background-color: #ffffffa6;;
  padding: 70px;
  border-radius: 50%;
  box-shadow: rgb(181, 209, 54) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}